input, select, button, textarea{
	box-shadow: none !important;
}

.bd-example-modal-lg .modal-dialog{	/* for loading guage*/
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content{	/* for loading guage*/
	background-color: transparent;
	border: none;
	width: 48px;
}

.loadingguage{
    z-index: 99999 !important;
}

.cls_recipeCreateModal{
	width: 900px;
  	margin: auto;
}

.cls_onehalfcol{
	width: 12.5% !important;
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

datalist.cls_dl_ingredientName_recipe{
	display: none;
}

.cls_calenderIcon{
	font-size: 24px;
    margin-left: -25px;
    margin-top: 6px;
    z-index: 100!important;
    cursor: pointer;
}

.next span:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\25b6";
    border: 0px;
    color: #333;
}
.prev span:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\25C0";
    border: 0px;
    color: #333;
}
