input, select, button, textarea{
	box-shadow: none !important;
}

.bd-example-modal-lg .modal-dialog{	/* for loading guage*/
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content{	/* for loading guage*/
	background-color: transparent;
	border: none;
	width: 48px;
}

.loadingguage{
    z-index: 99999 !important;
}

.cls_recipeCreateModal{
	width: 900px;
  	margin: auto;
}

.cls_onehalfcol{
	width: 12.5% !important;
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

datalist.cls_dl_ingredientName_recipe{
	display: none;
}
